.search-results-container {
    position: absolute;
    z-index: 9999;
    background: white;
    width: 100%;
    margin-top: 2px;
    border: 1px solid #dddbda;
    border-radius: .25rem;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16);
}